* {
    box-sizing: border-box;
}

BODY {
    font-family: sans-serif;
}

.logout {
    float: right;
}

.error-boundary {
    color: red;
    font-size: 2em;
    border: 3px double red;
    text-align: center;
    padding: 0.5em;
}

.todo-list {

}

.todo-view {
    max-width: 30em;

    .extra {
        display: none;
    }

    .title {
        padding-top: 0.25em;
        padding-bottom: 0.25em;

        SPAN {
            cursor: pointer;
        }

        INPUT[type=text] {
            width: 100%;
        }
    }

    .description {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        color: #444;
        white-space: pre-wrap;
        TEXTAREA {
            width: 100%;
            height: 4em;
        }
    }

    .buttons {
        padding-top: 0.25em;
        text-align: right;

        BUTTON {
            margin-left: 0.25em;
        }
    }

    &.expanded {
        .extra {
            display: block;
        }
    }

    &.edit {
        .description {
            padding-top: 0;
            padding-bottom: 0;
            border-width: 0;
        }
    }

    &.add {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        list-style-type: circle;
        color: #999;

        .add-button {
            cursor: pointer;
        }
    }
}

.login-form {
    max-width: 20em;

    .label {
        padding: 6px 8px 0 8px;
    }

    .field {
        padding: 2px 8px 4px 8px;

        INPUT {
            width: 100%;
        }
    }

    .buttons {
        text-align: right;
        padding: 8px 8px 2px 8px;
        margin-top: 4px;
        border-top: 1px solid #999999;

        BUTTON {
            font-size: 1.4em;
            margin-left: 8px;
        }
    }

    .error {
        font-weight: bold;
        color: #cc0000;
        padding: 8px 8px 4px 8px;
    }
}
